[submodule "libraries/log.c"]
	path = libraries/log.c
	url = https://github.com/rxi/log.c
[submodule "libraries/Unity"]
	path = libraries/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "mnist"]
	path = mnist
	url = https://github.com/wuhanstudio/mnist
